<div class="d-flex">
    <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column vh-100">
        <!-- <div class="collapse navbar-collapse show"> -->
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="navbar-brand" routerLink="/">
                        <img src="../../../assets/instagram-logo.png" alt="" class="logo" width="150" height="100">
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/home">
                        <img class="iconi" src="../../../assets/userprofile/home.png" alt="home">
                        <span class="mx-1 font">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search">
                        <img class="iconi" src="../../../assets/userprofile/search.png" alt="search">
                        <span class="mx-1 font">Search</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/explore">
                        <img class="iconi" src="../../../assets/userprofile/compass.png" alt="Explore">
                        <span class="mx-1 font">Explore</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/reels">
                        <img class="iconi" src="../../../assets/userprofile/reel.png" alt="Reels">
                        <span class="mx-1 font">Reels</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages">
                        <img class="iconi" src="../../../assets/userprofile/messenger.png" alt="Messages">
                        <span class="mx-1 font">Messages</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/notifications">
                        <img class="iconi" src="../../../assets/userprofile/heart.png" alt="Notifications">
                        <span class="mx-1 font">Notifications</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/create">
                        <img class="iconi" src="../../../assets/userprofile/more.png" alt="Create">
                        <span class="mx-1 font">Create</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/profile">
                        <img class="iconi" src="../../../assets/userprofile/user (1).png" alt="Profile">
                        <span class="mx-1 font">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/more">
                        <img class="iconi" src="../../../assets/userprofile/menu.png" alt="Profile">
                        <span class="more"> More</span>
                    </a>
                </li>
            </ul>
        <!-- </div> -->
    </nav>